body {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

div {
  display: flex;
}

ul {
  list-style-position: inside;
  text-align: left;
  transform: translateX(25%);
  height: 100%;
}
